In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [2]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [3]:
request=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
request

In [4]:
Teams=[]
Matches=[]
Points=[]
Ratings=[]
driver.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [5]:
df=pd.read_html("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [22]:
df

         PlayerName TeamName Ratings
0    Jasprit Bumrah      IND     719
1  Mujeeb Ur Rahman      AFG     701
2      Chris Woakes      ENG     675
3     Kagiso Rabada       SA     665
4       Pat Cummins      AUS     659
5    Josh Hazlewood      AUS     654
6     Mohammad Amir      PAK     647
7        Matt Henry       NZ     641
8      Jofra Archer      ENG     637
9    Mitchell Starc      AUS     637

In [7]:
Player=[]
Team=[]
Rating=[]
driver.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [8]:
content= driver.page_source
soup= BeautifulSoup(content)
player=soup.findAll("td", attrs={"class":"table-body__cell rankings-table__name name"})
team=soup.findAll("span", attrs={"class":"table-body__logo-text"})
rating=soup.findAll("td", attrs={"class":"table-body__cell rating"})
print(len(player), len(team), len(rating))

99 99 99

In [9]:
for i in player:
    Player.append(i.text.replace('\n',''))

In [10]:
Player[:10]

['Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Francois du Plessis',
 'Kane Williamson',
 'Aaron Finch',
 'David Warner',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Shai Hope']

In [11]:
for i in team:
    Team.append(i.text)

Team[:10]

['IND', 'PAK', 'NZ', 'SA', 'NZ', 'AUS', 'AUS', 'SA', 'ENG', 'WI']

In [12]:
for i in rating:
    Rating.append(i.text)
    
Rating[:10]

['855', '837', '818', '790', '765', '762', '759', '755', '754', '750']

In [13]:
df=pd.DataFrame({"PlayerName":Player[:10:],"TeamName":Team[:10:], "Ratings":Rating[:10:]})

In [14]:
df

            PlayerName TeamName Ratings
0         Rohit Sharma      IND     855
1           Babar Azam      PAK     837
2          Ross Taylor       NZ     818
3  Francois du Plessis       SA     790
4      Kane Williamson       NZ     765
5          Aaron Finch      AUS     762
6         David Warner      AUS     759
7      Quinton de Kock       SA     755
8       Jonny Bairstow      ENG     754
9            Shai Hope       WI     750

In [15]:
Player=[]
Team=[]
Rating=[]
driver.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [16]:
content= driver.page_source
soup= BeautifulSoup(content)
player=soup.findAll("td", attrs={"class":"table-body__cell rankings-table__name name"})
team=soup.findAll("span", attrs={"class":"table-body__logo-text"})
rating=soup.findAll("td", attrs={"class":"table-body__cell rating"})
print(len(player), len(team), len(rating))

99 99 99

In [17]:
for i in player:
    Player.append(i.text.replace('\n',''))
Player[:10]

['Jasprit Bumrah',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Kagiso Rabada',
 'Pat Cummins',
 'Josh Hazlewood',
 'Mohammad Amir',
 'Matt Henry',
 'Jofra Archer',
 'Mitchell Starc']

In [18]:
for i in team:
    Team.append(i.text.replace('\n',''))
Team[:10]

['IND', 'AFG', 'ENG', 'SA', 'AUS', 'AUS', 'PAK', 'NZ', 'ENG', 'AUS']

In [19]:
for i in rating:
    Rating.append(i.text)
Rating[:10]

['719', '701', '675', '665', '659', '654', '647', '641', '637', '637']

In [20]:
df=pd.DataFrame({"PlayerName":Player[:10],"TeamName":Team[:10], "Ratings":Rating[:10]})
df

         PlayerName TeamName Ratings
0    Jasprit Bumrah      IND     719
1  Mujeeb Ur Rahman      AFG     701
2      Chris Woakes      ENG     675
3     Kagiso Rabada       SA     665
4       Pat Cummins      AUS     659
5    Josh Hazlewood      AUS     654
6     Mohammad Amir      PAK     647
7        Matt Henry       NZ     641
8      Jofra Archer      ENG     637
9    Mitchell Starc      AUS     637

In [21]:
driver.close