
6)Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.ii) Top 10 women’s ODI players along with the records of their team and rating.iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [3]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
request=requests.get(url)
request

In [4]:
Teams=[]
Matches=[]
Points=[]
Ratings=[]
driver.get(url)

In [6]:
df=pd.read_html("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
df[:10]

[   Pos           Team  T  Matches  M  Points  P  Rating  R
 0    1    Australia  AUS          15       2436        162
 1    2        India  IND          15       1812        121
 2    3      England  ENG          14       1670        119
 3    4  South Africa  SA          16       1713        107
 4    5   New Zealand  NZ          15       1384         92
 5    6   West Indies  WI          12       1025         85
 6    7     Pakistan  PAK          12        927         77
 7    8   Bangladesh  BAN           5        306         61
 8    9     Sri Lanka  SL          11        519         47
 9   10      Ireland  IRE           2         25         13]

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [7]:
Player=[]
Team=[]
Rating=[]
driver.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [8]:
content= driver.page_source
soup= BeautifulSoup(content)
player=soup.findAll("td", attrs={"class":"table-body__cell name"})
team=soup.findAll("span", attrs={"class":"table-body__logo-text"})
rating=soup.findAll("td", attrs={"class":"table-body__cell u-text-right rating"})
print(len(player), len(team), len(rating))

27 27 27

In [9]:
for i in player:
    Player.append(i.text.replace('\n',''))
Player

['Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Lizelle Lee',
 'Laura Wolvaardt',
 'Mithali Raj',
 'Marizanne Kapp',
 'Megan Schutt',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Poonam Yadav',
 'Shikha Pandey',
 'Ellyse Perry',
 'Anya Shrubsole',
 'Deepti Sharma',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt']

In [10]:
for i in team:
    Team.append(i.text.replace('\n',''))
Team

['WI',
 'AUS',
 'IND',
 'NZ',
 'ENG',
 'AUS',
 'SA',
 'SA',
 'IND',
 'SA',
 'AUS',
 'SA',
 'IND',
 'IND',
 'IND',
 'AUS',
 'ENG',
 'IND',
 'WI',
 'SA',
 'IND',
 'SA',
 'AUS',
 'NZ',
 'ENG',
 'IND',
 'ENG']

In [11]:
for i in rating:
    Rating.append(i.text.replace("\n",''))
Rating

['746',
 '741',
 '732',
 '723',
 '716',
 '691',
 '690',
 '689',
 '687',
 '738',
 '735',
 '717',
 '691',
 '679',
 '675',
 '666',
 '645',
 '639',
 '410',
 '389',
 '359',
 '335',
 '301',
 '289',
 '273',
 '250',
 '232']

In [12]:
df=pd.DataFrame({"PlayerName":Player[:10],"TeamName":Team[:10], "Ratings":Rating[:10]})
df

          PlayerName TeamName Ratings
0    Stafanie Taylor       WI     746
1       Alyssa Healy      AUS     741
2    Smriti Mandhana      IND     732
3  Amy Satterthwaite       NZ     723
4     Tammy Beaumont      ENG     716
5       Ellyse Perry      AUS     691
6        Lizelle Lee       SA     690
7    Laura Wolvaardt       SA     689
8        Mithali Raj      IND     687
9     Marizanne Kapp       SA     738

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [14]:
Player=[]
Team=[]
Rating=[]
driver.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [15]:
content= driver.page_source
soup= BeautifulSoup(content)
player=soup.findAll("td", attrs={"class":"table-body__cell rankings-table__name name"})
team=soup.findAll("span", attrs={"table-body__logo-text"})
rating=soup.findAll("td", attrs={"table-body__cell rating"})
print(len(player), len(team), len(rating))

19 19 19

In [16]:
for i in player:
    Player.append(i.text.replace('\n',''))
Player

['Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt',
 'Jhulan Goswami',
 'Ashleigh Gardner',
 'Sune Luus',
 'Rumana Ahmed',
 'Heather Knight',
 'Hayley Matthews',
 'Poonam Yadav',
 'Chamari Athapaththu',
 'Amelia Kerr',
 'Anya Shrubsole']

In [17]:
for i in team:
    Team.append(i.text.replace('\n',''))
Team

['WI',
 'SA',
 'IND',
 'SA',
 'AUS',
 'NZ',
 'ENG',
 'IND',
 'ENG',
 'IND',
 'AUS',
 'SA',
 'BAN',
 'ENG',
 'WI',
 'IND',
 'SL',
 'NZ',
 'ENG']

In [18]:
for i in rating:
    Rating.append(i.text.replace("\n",''))
Rating

['410',
 '389',
 '359',
 '335',
 '301',
 '289',
 '273',
 '250',
 '232',
 '224',
 '223',
 '188',
 '179',
 '178',
 '176',
 '168',
 '164',
 '158',
 '154']

In [19]:
df=pd.DataFrame({"PlayerName":Player[:10],"TeamName":Team[:10], "Ratings":Rating[:10]})
df

         PlayerName TeamName Ratings
0   Stafanie Taylor       WI     410
1    Marizanne Kapp       SA     389
2     Deepti Sharma      IND     359
3  Dane van Niekerk       SA     335
4     Jess Jonassen      AUS     301
5     Sophie Devine       NZ     289
6    Natalie Sciver      ENG     273
7     Shikha Pandey      IND     250
8   Katherine Brunt      ENG     232
9    Jhulan Goswami      IND     224