# FlipRobo Web Scraping Assignment-2

In [1]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1.first get the webpage https://www.naukri.com/
    
2.Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data. 

Note- All of the above steps have to be done in code. No step is to be done manually

In [3]:
driver.get("https://www.naukri.com/")

In [5]:
# entering details in naukri.com “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

In [6]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [7]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist/Data Analyst']

In [9]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Delhi NCR, Bengaluru, Hyderabad', 'Chennai, Pune, Bengaluru, Hyderabad']

In [10]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics']

In [11]:
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:2]

['0-2 Yrs', '0-3 Yrs']

In [13]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head(10)

,experience_required,company_name,job_location,job_title
0,0-2 Yrs,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Fresher Data Engineer / Data Scientist / Data ...
1,0-3 Yrs,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Data Scientist/Data Analyst
2,2-3 Yrs,NetApp,Bengaluru,Business Data Analyst
3,0-5 Yrs,(98 Reviews),Bengaluru(Whitefield),"SAS AML Data Analyst / Trainee & Data Science,..."
4,2-5 Yrs,MagicBase Royal BD Pvt Ltd,Bengaluru,Hiring Data Analysts
5,2-5 Yrs,Flipkart Internet Private Limited,Bengaluru,Hiring Data Analysts
6,3-5 Yrs,(2603 Reviews),"Bengaluru, India",Data Analyst
7,4-8 Yrs,Flipkart Internet Private Limited,Bengaluru,Study Data Analyst
8,3-4 Yrs,(2603 Reviews),Bengaluru,Data Analyst
9,10-15 Yrs,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,Business Data Analyst | Reinsurance Domain

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:

1.first get the webpage https://www.naukri.com/
    
2.Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [36]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [37]:
driver.get("https://www.naukri.com/")

In [38]:
# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [39]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [40]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [41]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist/Data Analyst']

In [42]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics']

In [43]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Delhi NCR, Bengaluru, Hyderabad', 'Chennai, Pune, Bengaluru, Hyderabad']

In [44]:
job_description=[]

In [45]:
# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

In [47]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":job_description[0:10]})
df.head(10)

,job_title,company_name,job_location,job_description
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Roles and Responsibilities\nAnalytical Skills:...
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Dear Candidate\n\nSchedule a Telephonic Interv...
2,Data Scientist - Machine Learning/Data Mining,Minions Ventures,Bengaluru,Key Responsibilities :\n\n- Use analytical rig...
3,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad","Roles and Responsibilities\nSkill : NLP,Semant..."
4,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
5,Senior Data Scientist | CES IT LTD | CMMI Level 5,(71 Reviews),"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
6,Data Scientist - Machine Learning,CES Ltd.,Bengaluru,---
7,Data Scientist - Python/MATLAB/Machine Learnin...,(71 Reviews),Bengaluru,Roles and Responsibilities\nData Scientist - D...
8,Lead Data Scientist - Machine Learning/Data Mi...,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
9,Data Scientist - Machine Learning - Remote Wor...,(119 Reviews),"Delhi NCR, Bengaluru, Anywhere in India",Please note that this role will be 'Remote' i....


Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/
    
2.Enter “Data Scientist” in “Skill,Designations,Companies” field .

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually

In [48]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [49]:
driver.get("https://www.naukri.com/")

In [50]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")

search_field_designation.send_keys("Data Scientist")

In [51]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [52]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [53]:
# finding the location check box
loc=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")

# clicking the check box
loc.click()

In [54]:
# finding the salary check box
loc=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

# clicking the check box
loc.click()

In [55]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)']

In [56]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Delhi NCR, Bengaluru, Hyderabad', 'Pune, Bengaluru, Gurgaon']

In [57]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

 #scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:2]

['0-2 Yrs', '3-8 Yrs']

In [60]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head(10)

,experience_required,company_name,job_location,job_title
0,0-2 Yrs,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Fresher Data Engineer / Data Scientist / Data ...
1,3-8 Yrs,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",GCP Skilled Analytics Resources (Data engineer...
2,3-8 Yrs,(193 Reviews),"Pune, Bengaluru, Gurgaon",GCP Skilled Analytics Resources (Data engineer...
3,5-8 Yrs,Aerial Telecom Solutions Pvt. Ltd.,Noida,Data Scientist - Python/Machine Learning
4,5-9 Yrs,(193 Reviews),Gurgaon,Data Scientist
5,3-8 Yrs,Jubna,Gurgaon,Data Scientist
6,9-14 Yrs,PureSoftware Pvt Ltd.,"Delhi NCR, Noida(Sector-142 Noida)",Lead Data Scientist
7,9-14 Yrs,(87 Reviews),"Delhi NCR(Sector-142 Noida), Noida",Excellent opportunity For Lead Data Scientist ...
8,9-14 Yrs,World Wide Technology,"Delhi NCR, Noida(Sector-142 Noida)",Lead Data Scientist
9,9-14 Yrs,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",Excellent opportunity For Lead Data Scientist ...

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

1.first get the webpage https://www.glassdoor.co.in/index.htm
    
2.Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.

3.Then click the search button. You will land up in the below page:
    
4.Then scrape the data for the first 10 jobs results you get in the above shown page. WEB SCRAPING ASSIGNMENT-2 .

5.Finally create a dataframe of the scraped data. 

Note- All of the above steps have to be done in code. No step is to be done manually

In [77]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [78]:
driver.get("https://www.glassdoor.com/")

In [79]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida")


#search_field_designation=driver.find_element_by_xpath("//input[@id='sc.keyword']")
#search_field_designation.send_keys("Data Scientist")
#search_field_location=driver.find_element_by_xpath("//input[@id='sc.location']")
#search_field_location.send_keys("Noida")

In [80]:
# clicking the search button
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [81]:
# creating empty lists for scraping data

company_ratings=[]
company_name=[]
days_ago=[]

In [82]:
# finding the element where company name is present
companies=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['Raytheon Missiles & Defense', 'Humana']

In [84]:
# finding the element where ratings of the company  is present
ratings=driver.find_elements_by_xpath("//span[@class='compactStars ']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
company_ratings[0:2]

['3.8', '3.9']

In [85]:
# finding the element where  No. of days ago when job was posted is present
days=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text[0])
days_ago[0:2]

['1', '6']

In [87]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]
                })
df.head(10)

                                     company_name company_ratings days_ago
0                     Raytheon Missiles & Defense             3.8        1
1                                          Humana             3.9        6
2                                      SCAN Group             2.3        2
3               Virginia Dept of General Services             4.2        8
4                                     AstraZeneca               3        1
5                                    Metron, Inc.             2.9        2
6                                      BankUnited             3.9        2
7                                    Plante Moran             4.6        8
8                               Lumos Diagnostics             2.8        6
9  Johns Hopkins Applied Physics Laboratory (APL)             4.1        1

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

1.first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
    
2.Enter “Data Scientist” in Job title field and “Noida” in location field.

3.Click the search button.

4.After that you will land on the below page You have to scrape whole data from this webpage

5.Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.

6.Store the data in a dataframe.

Note that all of the above steps have to be done by coding only and not manually

In [111]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [112]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [113]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='KeywordSearch']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='LocationSearch']"))).send_keys("Noida")

In [114]:
# clicking the search button
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [115]:
min_salaries=[]
max_salaries=[]
average_salaries=[]
company_name=[]

In [116]:
# finding the element where min salary   is present
min_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in min_salary:
    if i.text is None :
        min_salaries.append("--") 
    else:
        
        min_salaries.append(i.text)
min_salaries[0:2]

['₹705K', '₹571K']

In [117]:
# finding the element where max salary   is present
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)
max_salaries[0:2]

['₹11,495K', '₹2,200K']

In [118]:
# finding the element where average salary   is present
average_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)
average_salaries[0:2]

['₹11,495K', '₹2,200K']

In [119]:
# finding the element where company_name   is present
company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)
company_name[0:2]

['Delhivery', 'Accenture']

In [120]:
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"":company_ratings[0:10],"days_ago":days_ago[0:10]
                })
df.head()

         company_name      days_ago
0           Delhivery  3.8        1
1           Accenture  3.9        6
2                 IBM  2.3        2
3  Ericsson-Worldwide  4.2        8
4  UnitedHealth Group    3        1

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

4.Discount To scrape the data you have to go through following steps:
    
5.Go to flipkart webpage by url https://www.flipkart.com/
    
6.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

7.After that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.

8.After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [134]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

In [140]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [141]:
driver.get('https://www.flipkart.com/')

In [143]:
#locating the search bar
search_bar=driver.find_element_by_class_name('_3704LK')
search_bar.clear()
search_bar.send_keys('sunglasses')

In [145]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [148]:
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('_2B_pmu')#scraping brands name by class name='_2B_pmu'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_class_name('_2mylT6')#scraping description by class name = '_2mylT6'
    for i in desc:
        description.append(i.get_attribute('title'))#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")# scraping the price from the xpath
    for i in prices[:40]:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='VGWI6T']")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_2Xp0TH']")#scraping the list of buttons from the page
    driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page

IndexError: list index out of range

In [153]:
driver = webdriver.Chrome(r"C:\Users\Scp\Desktop\fliprobo\chromedriver.exe")

In [154]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [155]:
#intialising driver
driver.get(' https://www.amazon.in')

In [156]:
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()

In [157]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [158]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [159]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [160]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [161]:
#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [162]:
#checking the length of each list
print(len(Title))
print(len(price))
print(len(Ratings))

10
10
10

In [163]:

#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
print(df)

                                               Title     Price       Ratings
0  Asus VivoBook Gaming (2020) Core i7 10th Gen -...    81,990     NO rating
1  Asus ROG Strix G15 Core i7 10th Gen - (8 GB/51...    84,990     NO rating
2  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...    73,990  3.5 out of 5
3  Asus VivoBook S14 Core i7 8th Gen - (8 GB/1 TB...    69,990     NO rating
4  (Renewed) Dell Inspiron 3567 Laptop Core i3-7t...    29,990     NO rating
5  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,840    5 out of 5
6  (Renewed) Lenovo ThinkPad High Performance 12....    34,999  3.4 out of 5
7  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  4,99,990    4 out of 5
8  Lenovo ThinkPad E14 Intel Core i7 10th Gen14-i...    84,990     NO rating
9  ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...  1,49,990     NO rating